.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
}

body h1 {
  margin: 0;
}

body h3 {
  margin: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.button {
  border: none;
  border-radius: 100%;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-family: ruda;
  cursor: pointer;
  -webkit-box-shadow: -12px 12px 23px rgba(0, 0, 0, 0.25);
          box-shadow: -12px 12px 23px rgba(0, 0, 0, 0.25);
  display: block;
  margin: auto;
  margin-bottom: 25px;
}

.button:hover {
  color: #070700;
  font-weight: bolder;
}

.button:hover::before {
  opacity: 1;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

body.noscroll {
  overflow: hidden;
}

@media (min-width: null) {
  .hide-for-tablet {
    display: none;
  }
}

@media (max-width: 87.4375em) {
  .hide-for-tablet {
    display: none;
  }
}

.container1 {
  text-align: justify;
  padding: 24px;
}

@media (max-width: 63.9375em) {
  .container1 {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 130px;
    padding-right: 130px;
  }
}

@media (max-width: 39.9375em) {
  .container1 {
    padding: 24px;
  }
}

.header {
  position: relative;
  z-index: 0;
  background-color: #E83556;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  z-index: 2;
  opacity: 0;
  position: fixed;
  top: 100px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#070700), to(transparent));
  background-image: linear-gradient(#070700, transparent);
}

.header__container {
  background-color: #E83556;
}

@media (min-width: 64em) {
  .header__container {
    height: 160px;
  }
}

@media (max-width: 87.4375em) {
  .header__container {
    height: 200px;
  }
}

@media (max-width: 39.9375em) {
  .header__container {
    height: 109px;
  }
}

.header__name h1 {
  color: #FEFEF9;
  font-family: "Sahitya", serif;
}

@media (max-width: 63.9375em) {
  .header__name h1 {
    font-size: 2.375rem;
    padding-left: 26px;
    padding-top: 30px;
    line-height: 30px;
  }
}

@media (min-width: 51.2em) {
  .header__name h1 {
    font-size: 3.75rem;
    padding-left: 133px;
    padding-top: 37px;
    line-height: 43px;
  }
}

.header__position h3 {
  color: #FEFEF9;
  font-family: "Podkova", serif;
}

@media (max-width: 63.9375em) {
  .header__position h3 {
    font-size: 1rem;
    padding-left: 26px;
    padding-top: 10px;
    line-height: 10px;
  }
}

@media (min-width: 51.2em) {
  .header__position h3 {
    font-size: 1.5625rem;
    padding-left: 133px;
    padding-top: 34px;
    line-height: 15px;
  }
}

.header__toggle {
  position: relative;
  cursor: pointer;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #FEFEF9;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-animation: bounce 1s ease-in-out infinite;
          animation: bounce 1s ease-in-out infinite;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

@media (max-width: 87.4375em) {
  .header__toggle {
    padding-top: 50px;
    padding-right: 110px;
  }
}

@media (max-width: 39.9375em) {
  .header__toggle {
    padding-top: 38px;
    padding-right: 40px;
  }
}

.header__menu {
  z-index: 2;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #FEFEF9;
  margin-top: 10rem;
  padding: 24px;
  border-radius: 5px;
}

.header__menu a {
  display: block;
  padding: 0.625rem;
  color: #070700;
  text-align: center;
}

@media (max-width: 63.9375em) {
  .header__menu {
    width: calc(100% - 17rem);
  }
}

@media (max-width: 39.9375em) {
  .header__menu {
    width: calc(100% - 5rem);
  }
}

.header__image {
  z-index: 1;
  background-image: url(/images/myPhoto.svg);
  background-repeat: no-repeat;
  -webkit-filter: drop-shadow(-24px 24px 23px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(-24px 24px 23px rgba(0, 0, 0, 0.25));
  background-size: 100%;
  width: 311.9px;
  height: 325.15px;
}

@media (max-width: 63.9375em) {
  .header__image {
    display: block;
    margin: auto;
  }
}

.header__text h1 {
  font-family: "PT Serif", serif;
  color: #FEFEF9;
  padding-top: 19px;
  font-size: 81px;
  line-height: 60px;
  text-align: center;
}

.header__text h3 {
  font-family: "Sahitya", serif;
  color: #FEFEF9;
  padding-top: 33px;
  padding-bottom: 49px;
  font-size: 50px;
  line-height: 1px;
  letter-spacing: -0.04em;
  text-align: center;
}

@media (min-width: 64em) {
  .header__links {
    display: block;
    margin: auto;
    line-height: 25px;
    padding-top: 0px;
    line-height: 60px;
    text-align: center;
    padding-bottom: 60px;
  }
}

.header__links a {
  position: relative;
  font-family: "Quattrocento", serif;
  font-size: 1.25rem;
  color: #070700;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

@media (min-width: 64em) {
  .header__links a:not(:last-child) {
    margin-right: 40px;
  }
}

.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -8px;
  background: -webkit-gradient(linear, left top, right top, from(#D1C926), to(#61D0D4));
  background: linear-gradient(to right, #D1C926, #61D0D4);
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__links a:hover {
  color: #070700;
  font-size: 1.5rem;
  font-weight: bolder;
}

.header__links a:hover::before {
  opacity: 1;
}

.middle {
  background-color: #EAE5E5;
}

.middle__image {
  position: absolute;
  background-image: url("/images/myPhoto.svg");
  background-repeat: no-repeat;
  -webkit-filter: drop-shadow(-24px 24px 23px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(-24px 24px 23px rgba(0, 0, 0, 0.25));
  background-size: 100%;
  width: 551.26px;
  height: 577.18px;
  left: 54px;
  top: 396.57px;
}

.middle__description h3 {
  font-family: Ruda;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  padding-left: 650px;
  padding-right: 23px;
}

@media (max-width: 63.9375em) {
  .middle__description h3 {
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 0px;
    font-size: 16px;
  }
}

.middle__text {
  background-color: #EAE5E5;
}

@media (max-width: 51.1333em) {
  .middle__text {
    background-position: center;
    background-color: #E83556;
  }
}

.middle__text h1 {
  color: #4D4D4D;
  font-family: "PT Serif", serif;
  padding-left: 670px;
  padding-top: 37px;
  padding-bottom: 58px;
  line-height: 91px;
  font-size: 7.375rem;
}

@media (max-width: 51.1333em) {
  .middle__text h1 {
    color: #FEFEF9;
    padding-left: 82px;
    padding-top: 0px;
    font-size: 81px;
    line-height: 60px;
  }
}

.middle__text h3 {
  color: rgba(0, 0, 0, 0.55);
  font-family: "Sahitya", serif;
  font-size: 4.75rem;
  padding-left: 670px;
  padding-top: 0px;
  padding-bottom: 20px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

@media (max-width: 51.1333em) {
  .middle__text h3 {
    color: #FEFEF9;
    padding-left: 57px;
    padding-top: 33px;
    padding-bottom: 49px;
    font-size: 50px;
    line-height: 1px;
    letter-spacing: -0.04em;
  }
}

.middle__button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 64em) {
  .middle__button-container {
    padding-bottom: 140px;
    padding-left: 630px;
    padding-top: 50px;
  }
}

.middle__button1 {
  background-color: #E83556;
  padding: 78px 25px;
  margin: 20px;
}

.middle__button2 {
  background-color: #61D0D4;
  padding: 78px 18px;
  margin: 20px;
}

.middle__button3 {
  background-color: #D1C926;
  padding: 78px 35px;
  margin: 20px;
}

.middle__button4 {
  background-color: #da823a;
  padding: 78px 30px;
  margin: 20px;
}

.footer {
  background-color: #E83556;
}

.footer__social {
  height: 240px;
}

@media (min-width: 40em) {
  .footer__social {
    padding-top: 25px;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 51.1333em) {
  .footer__img {
    padding-top: 75px;
  }
}

.footer__content {
  padding-left: 20px;
  padding-top: 18px;
}

.footer__content h1 {
  font-size: 20px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: bold;
  line-height: 29.7px;
  color: #FAFAFA;
}

.footer__content h3 {
  font-size: 14px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: normal;
  line-height: 20.79px;
  color: #FAFAFA;
}

.footer__credits h3 {
  text-align: right;
  padding-right: 20px;
  padding-bottom: 20px;
  font-size: 9px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: bold;
  line-height: 13.37px;
  color: #FAFAFA;
}
/*# sourceMappingURL=style.css.map */